name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Install dependencies
      run: go mod download

    - name: Run tests
      run: make test

  commit-message-check:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - name: Conventional Commits Validation
      uses: ytanikin/PRConventionalCommits@1.1.0
      with:
        task_types: '["feat","fix","perf","chore","revert","test","docs","style","refactor","build","ci"]'
        add_label: 'false'